{[(  )]}
<style>
</style>

<div class="layui-form ADD" lay-filter="FORM-ADD" id="layuiadmin-app-form-list" style="padding: 20px 30px 0 0;">

    <div class="layui-form-item">
        <label class="layui-form-label">建筑号</label>
        <div class="layui-input-inline">
            <input name="buildNum" lay-verify="required" placeholder="请输入宿舍建筑号" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">宿舍号</label>
        <div class="layui-input-inline">
            <input name="roomNum" lay-verify="required" placeholder="请输入宿舍号" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">维修次数</label>
        <div class="layui-input-inline">
            <input name="times" lay-verify="required" placeholder="请输入维修次数" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline">
            <input type="button" lay-submit lay-filter="ADD-SUBMIT" value="提交" class="layui-btn">
            <button type="button" class="layui-btn layui-btn-primary form-cancel">取消</button>
        </div>
    </div>
</div>

<script>
</script>
